@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
/*變數設定檔*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*img {
  max-width: 100%;
  height: auto;
}*/
body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  font-family: 'Noto Sans TC';
}

.topBall {
  background-color: #56C4C5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 14px 11px;
  position: fixed;
  right: 25px;
  bottom: 50px;
  z-index: 99;
}

.topBall a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}

.header {
  position: relative;
}

.header .img-lg {
  display: none;
}

.header .img-sm {
  border-radius: 0 0 0 40%;
  background-color: #f7f8fd;
  background-position: right bottom;
  background-size: cover;
  z-index: -1;
  top: 72px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.header .img-sm img {
  display: block;
}

.header .img-sm:after {
  background-color: #ffe98f;
  content: "";
  height: 275px;
  width: 100px;
  z-index: -1;
  position: absolute;
  left: 0;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #FFD153;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header .navbar img {
  width: 130.84px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 21.8px;
}

.header .navbar div a {
  display: block;
  text-decoration: none;
  background-color: #FF5D50;
  border-radius: 22px;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  padding: 12px 32px;
  margin-right: 20px;
}

.header .title h1 {
  margin-left: 20px;
  margin-top: 48px;
  padding-top: 7px;
  font-size: 32px;
  font-weight: bold;
}

.header .title h2 {
  margin-left: 20px;
  margin-top: 16px;
  padding-top: 4px;
  padding-bottom: 365px;
  font-size: 16px;
  color: #221E1F;
}

.banner {
  padding-left: 16px;
}

.banner h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 16px;
  padding: 6px 8px;
  text-align: center;
  color: #221E1F;
}

.banner .banner-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.banner .banner-price li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  color: #56C4C5;
  font-size: 16px;
  padding: 8px 16px;
  margin-right: 10px;
}

.banner .banner-price li:hover {
  color: white;
  background-color: #56C4C5;
}

.banner .banner-price li p {
  padding-top: 4px;
  padding-bottom: 4px;
}

.main {
  position: relative;
}

.main .ball {
  width: 200px;
  height: 200px;
  background: url("/img/ball03.png") no-repeat;
  background-position: -70px 0;
  position: absolute;
  top: 43%;
  z-index: -1;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  margin-bottom: 24px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  z-index: 1;
  background: white;
  border-radius: 12px;
}

.card .cardVersion {
  font-size: 24px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
}

.card .cardDescribe {
  padding: 24px 16px;
  font-size: 16px;
  text-align: center;
}

.card .cardDescribe p {
  line-height: 1.5;
}

.card .cardBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 27px;
}

.card .cardBanner .cardScription {
  background-color: #F5F5F5;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 12px;
  padding-right: 32px;
  padding-left: 32px;
}

.card .cardBanner .cardScription p {
  font-size: 12px;
  padding-top: 16px;
  margin-bottom: 8px;
  text-align: center;
}

.card .cardBanner .cardScription div {
  text-align: center;
}

.card .cardBanner .cardScription #peopleBasic,
.card .cardBanner .cardScription #priceBasic,
.card .cardBanner .cardScription #peopleSt,
.card .cardBanner .cardScription #priceSt {
  display: inline-block;
  font-size: 28px;
  text-align: center;
  color: #56C4C5;
  vertical-align: baseline;
  margin-bottom: 23px;
}

.card .cardBanner .cardScription #priceBasic,
.card .cardBanner .cardScription #priceSt {
  color: #221E1F;
}

.card .cardBanner .cardScription .figure {
  vertical-align: baseline;
  font-size: 12px;
  color: #221E1F;
}

.card .cardBanner .equal {
  font-size: 24px;
  padding: 35px 5px;
}

.card .advantage {
  padding-left: 16px;
  padding-right: 16px;
}

.card .advantage li {
  margin-bottom: 16px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .advantage li img {
  margin-right: 16px;
  height: 14px;
}

.card .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .button a {
  display: block;
  width: 136px;
  padding: 16px 32px;
  margin-top: 19px;
  margin-bottom: 24px;
  font-size: 18px;
  background-color: #56C4C5;
  border-radius: 27px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.questions {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions h4 {
  font-size: 28px;
  margin-left: 32px;
  margin-bottom: 32px;
  font-weight: bold;
  text-align: center;
  color: #221E1F;
}

.questions .area {
  width: 100%;
  max-width: 904px;
  padding: 16px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.questions .area .areaQus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #221E1F;
}

.questions .area .areaQus p {
  font-size: 16px;
}

.questions .area .areaQus .image {
  display: block;
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.questions .area .areaAns {
  color: #747474;
  line-height: 2;
  margin-top: 16px;
  display: none;
}

.footer {
  color: #221E1F;
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
}

@media only screen and (min-width: 470px) {
  .header .img-sm {
    display: none;
  }
  .header .img-lg {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: -2;
    top: 70px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f7f8fd), color-stop(10%, white));
    background: linear-gradient(to bottom, #f7f8fd 90%, white 10%);
    z-index: -1;
    border-bottom-left-radius: 50%;
    margin-bottom: 11px;
  }
  .header .img-lg img {
    display: block;
  }
  .header .navbar {
    border-bottom: 0;
  }
}

@media only screen and (min-width: 576px) {
  .banner .banner-price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .banner-price li {
    font-size: 18px;
    padding: 12px 32px;
  }
  .card .cardBanner {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .header .navbar a {
    margin-right: 139px;
  }
  .header .title h1 {
    margin-left: 139px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 92px;
    font-size: 48px;
    font-weight: bold;
  }
  .header .title h2 {
    margin-left: 139px;
    margin-top: 16px;
    padding-top: 4px;
    font-size: 16px;
    color: #221E1F;
  }
  .banner h2 {
    font-size: 32px;
    margin-top: 11px;
    margin-bottom: 48px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .main {
    width: 98%;
    margin-right: 5px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .ball {
    top: 45%;
    left: 0;
    background-position: -100px 0;
  }
  .main .card .cardBanner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .card .cardBanner .equal {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding-bottom: 14px;
    padding-top: 12px;
    padding-left: 165px;
  }
  .questions h4 {
    font-size: 32px;
  }
  .questions .area {
    padding: 16px 32px;
  }
  .questions .area .areaQus p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .header .img-lg {
    top: 0px;
  }
  .header .title h1 {
    margin-left: 139px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 92px;
    font-size: 48px;
    font-weight: bold;
  }
  .header .title h2 {
    margin-left: 139px;
    margin-top: 16px;
    padding-top: 4px;
    font-size: 16px;
    color: #221E1F;
  }
  .main .card .cardVersion {
    font-weight: 800;
  }
  .main .card .cardBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .main .card .cardBanner .equal {
    -webkit-transform: none;
            transform: none;
    font-size: 24px;
    padding: 35px 5px;
  }
}

/**/
.changeColor {
  color: #56C4C5;
}
/*# sourceMappingURL=allPrice.css.map */